@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Manage" asp-action="LogIn">Login</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="InsertUsuario">Create Usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Tickets" asp-action="MostrarTicketsId">Buscar por ID</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Manage" asp-action="LogOut">LogOut</a>
    </li>
}