<div class="text-center">
    <form method="post">
        <label>Username : </label>
        <input type="text" class="form-control" name="username" /><br />
        <label>Password : </label>
        <input type="text" class="form-control" name="password" /><br />
        <button type="submit" class="btn btn-success">CONECTARSE</button>
    </form>
</div>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>